#slider{
	
background:url(../images/slide01.jpg) no-repeat center center;
			 background-size:cover;
			 height:500px;
	.row{

		

		ul{

		li{  
			
			&:first-child{
			 
			 
			}
             
		  }

	  	}
	  }

	
}